
@if (User.Identity.IsAuthenticated)
{
    <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-user"></i>Выход</a></li>
}
else
{
    <li><a asp-controller="Account" asp-action="Login"><i class="fa fa-lock"></i> Войти</a></li>
    <li><a asp-controller="Account" asp-action="Register"><i class="fa fa-lock"></i> Зарегистрироваться</a></li>
}