<div class="header-bottom">
    <!--header-bottom-->
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="mainmenu pull-left">
                    <ul class="nav navbar-nav collapse navbar-collapse">
                        <li><a is-active-route asp-controller="Home" asp-action="Index" class="active">Главная страница</a></li>
                        <li class="dropdown">
                            <a is-active-route asp-controller="Shop" asp-action="Product">Магазин<i class="fa fa-angle-down"></i></a>
                            <ul role="menu" class="sub-menu">
                                <li><a is-active-route asp-controller="Shop" asp-action="Product">Товары</a></li>
                                <li><a is-active-route asp-controller="Cart" asp-action="Checkout">Оформление заказа</a></li>
                                <li><a is-active-route asp-controller="Cart" asp-action="Cart">Корзина</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a is-active-route asp-controller="Blog" asp-action="BlogList">Blog<i class="fa fa-angle-down"></i></a>
                            <ul role="menu" class="sub-menu">
                                <li><a is-active-route asp-controller="Blog" asp-action="BlogList">Blog List</a></li>
                                <li><a is-active-route asp-controller="Blog" asp-action="BlogSingle">Blog Single</a></li>
                            </ul>
                        </li>
                        <li><a is-active-route asp-controller="Home" asp-action="MyNotFound">Ошибка</a></li>
                        <li><a is-active-route asp-controller="Home" asp-action="Contact">Контакты</a></li>
                        <li><a is-active-route asp-controller="Employee" asp-action="Index">Сотрудники</a></li>
                        <li class="dropdown">
                            <a href="#">Test<i class="fa fa-angle-down"></i></a>
                            <ul role="menu" class="sub-menu">
                                <li><a is-active-route asp-controller="WebApiTest" asp-action="Index">WebTestApi</a></li>
                                <li><a is-active-route asp-controller="Home" asp-action="ThrowExeption">Тестовое исключение</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="search_box pull-right">
                    <input type="text" placeholder="Search" />
                </div>
            </div>
        </div>
    </div>
</div><!--/header-bottom-->
